@mixin AnimationHTML($start, $end){
    @keyframes AnimationHTML {
        0% {
            width: $start;
        }
        100% {
           width: $end;
        }
    } 
}

@mixin AnimationCSS($start, $end){
    @keyframes AnimationCSS {
        0% {
            width: $start;
        }
        100% {
           width: $end;
        }
    } 
}

@mixin AnimationJS($start, $end){
    @keyframes AnimationJS {
        0% {
            width: $start;
        }
        100% {
           width: $end;
        }
    } 
}

@mixin AnimationTS($start, $end){
    @keyframes AnimationTS {
        0% {
            width: $start;
        }
        100% {
           width: $end;
        }
    } 
}

@mixin AnimationReact($start, $end){
    @keyframes AnimationReact {
        0% {
            width: $start;
        }
        100% {
           width: $end;
        }
    } 
}

@mixin AnimationIllustrator($start, $end){
    @keyframes AnimationIllustrator {
        0% {
            width: $start;
        }
        100% {
           width: $end;
        }
    } 
}

@mixin Borderradius($radiusSize){
    border-radius: $radiusSize;
} 
    
@mixin setAnimation($size, $color){
    height: $size;
    animation-fill-mode: forwards;
    position: absolute;
    background-color: $color;
    @include Borderradius(24px);
}

@mixin BorderProgressionBar($radiusSize, $shadowSize, $color){
    border-radius: $radiusSize;
    box-shadow: $shadowSize;
    background-color: $color;   
}

@mixin AnimationIntro($start, $end){
    @keyframes AnimationIntro {
        from {
            opacity: 0;
            margin-top: $start;
        }
        to {
            opacity: 1;
            margin-top: $end;
        }
    } 
}

@mixin AnimationToTheLeft($start, $end){
    from {
        margin-left: $start;
    }
    to{
        margin-left: $end;
    }
}

@mixin AnimationLabel($sizeLine){
    label{
        position: absolute;
        bottom: 6px;
        left: 0;
        transition: .3s all ease;
        font-size: 14px;
        width: 100%;
        color: #000000;;
    }

    input:valid + label, input:focus + label{
        bottom: 30px;
        font-size: 10px;
    }
    input:focus + label{
        color: #000;
    }
    line:before{
        content: '';
        position: absolute;
        background: #000;
        width: 0px;
        height: 2px;
        right: 50%;
        bottom: 0;
    }
    input:focus ~ line:before{
        width: $sizeLine;
        right: 0;
        transition: all .3s ease;
      }
}