

@mixin AnimationHTML($start, $end){
    @keyframes AnimationHTML {
        0% {
            width: $start;
        }
        100% {
           width: $end;
        }
    } 
}

@mixin AnimationCSS($start, $end){
    @keyframes AnimationCSS {
        0% {
            width: $start;
        }   
        100% {
           width: $end;
        }
    } 
}

@mixin setAnimation($size, $time, $color){
    height: $size;
    position: absolute;
    background-color: $color;
    animation-fill-mode: forwards;
    animation-duration: $time;
}
