//import le ficher _method.scss
@import"_method.scss";
//import le ficher _variable.scss
@import"_variable.scss";

//regroupe toutes les divs de la page
#contents{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

//initialise la barre de progression
.Progress-bar{
    width: 90%;
    height: 50px;
    position: relative;
    background-color: #f5f5f5;
    margin: 20px auto;
}

//inclus le fichier de setAnimation
#HTML{
    animation: AnimationHTML 1s ease-in-out;
    @include setAnimation($sizeHeight,#4c20c7);
}

#CSS{
    animation: AnimationCSS 1s ease-in-out;
    @include setAnimation($sizeHeight,#30bd37);
}

#JS{
    animation: AnimationJS 1s ease-in-out;
    @include setAnimation($sizeHeight,#b14e4e);
}

#TS{
    animation: AnimationTS 1s ease-in-out;
    @include setAnimation($sizeHeight,#f7b731);
}

#jQuery{
    animation: AnimationTS 1s ease-in-out;
    @include setAnimation($sizeHeight,#ca19ad);
}

#React{
    animation: AnimationReact 1s ease-in-out;
    @include setAnimation($sizeHeight,#3e31f7);
}

#PHP{
    animation: AnimationJS 1s ease-in-out;
    @include setAnimation($sizeHeight,#f73e31);
}

#MySQL{
    animation: AnimationTS 1s ease-in-out;
    @include setAnimation($sizeHeight,#f731f7);
}   

#Git{
    animation: AnimationTS 1s ease-in-out;
    @include setAnimation($sizeHeight,#3187f7);
}

@include AnimationHTML(10px, 100%);

@include AnimationCSS(10px, 80%);

@include AnimationJS(10px, 60%);

@include AnimationTS(10px, 50%);

@include AnimationReact(10px, 30%);

