// import le fichier _methods.scss
@import"_method.scss";
// import le fichier _variable.scss
@import"_variable.scss";

// regroupe toutes les divs de la page
#contents{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin-top: 50px;
}

// initialise la barre de progression
.Progress-bar{
    width: 90%;
    height: 50px;
    position: relative;
    background-color: #797373;
    margin: 20px auto;
    @include Borderradius(24px);
}

// inclus le fichier de setAnimation

#Premier{
    animation: AnimationCSS $time ease-in-out;
    @include setAnimation($sizeHeight,#8420c7);
}

#After-Effect{
    animation: AnimationJS $time ease-in-out;
    @include setAnimation($sizeHeight,#1c0f6b7c);
}

#Photoshop{
    animation: AnimationCSS $time ease-in-out;
    @include setAnimation($sizeHeight,#0b3cdfe3);
}

#InDesign{
    animation: AnimationTS $time ease-in-out;
    @include setAnimation($sizeHeight,#df0bdfe3);
}

#Illustrator{
    animation: AnimationIllustrator $time ease-in-out;
    @include setAnimation($sizeHeight,#df830be3);
}

.content{
    z-index: 3;
    padding-top: 15px;
    margin-top: 15px;
    position: relative;
}

.title{
    z-index: 3;
    padding-top: 2px;
    //margin-top: 15px;
    position: relative; 
}

.content,.title{
    margin-left: 15px;
    margin-bottom: 8px;
    color: #f5f5f5;
    font-weight: bold; 
}

@include AnimationCSS ($startingPosition, 80%);

@include AnimationJS ($startingPosition, 60%);

@include AnimationTS ($startingPosition, 50%);

@include AnimationIllustrator ($startingPosition, 40%);