@import "_method.scss";
@import "_variable.scss";

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 500px;
    margin: auto;
    animation: AnimationIntro 2s;
    animation-fill-mode: forwards;
    h1{
        color: black;
    }
    h2{
        color: black;
    }
}

.title{
    display: flex;
    flex-direction: column;
}


@include AnimationIntro(-100px, 0px)
